.mt-1
  = link_to club.google_maps_link, target: :blank, class: "text-decoration-none link-secondary" do
    %span{class: "bi bi-geo-alt-fill text-danger"}
    #{club.address}, #{club.comuna}
.mt-1
  - if number_to_phone_cl(club.phone)[4] == "9"
    = link_to "https://api.whatsapp.com/send?phone=#{club.phone}&text=Hola!", |
        class: "text-decoration-none", target: :blank do
      %i{class: "bi bi-whatsapp text-success"}
      %i.text-secondary= number_to_phone_cl(club.phone)
  - elsif club.phone[3] == "2"
    = link_to number_to_phone_cl(club.phone), "tel:#{number_to_phone_cl(club.phone)}"
.mt-1
  = link_to  club.reservation_url, |
      class: "text-decoration-none", target: :blank do
    %i{class: "bi bi-laptop"} 
    %i.text-secondary sitio de reservas
.mt-1
  %i.text-secondary
    #{pluralize club.courts.count, "cancha", plural: "canchas"}