.container
  %h3 ¡Todos los Clubes!

  .div.py-3
    = form_with(url: clubs_path, method: :get, data: {turbo_frame: "clubs"}) do |form|
      = form.label :query, "Busca por comuna:", class: ""
      .flex.space-x-3
        = form.collection_check_boxes :comunas, @comunas, :itself, :itself do |cb|
          .form-check
            = cb.check_box class: "form-check-input", checked: @selected_comunas.include?(cb.value)
            = cb.label class: "form-check-label" 
        = form.submit 'Search', class: "btn btn-secondary"

  - @clubs.each do |club|
    .div.py-1
      .card
        %h5.card-header
          = club.name
          %small= club.third_party_id
        .card-body
          #{club.address}
          %br
          #{club.comuna}
          %br
          = number_to_phone_cl club.phone if club.phone.length > 8