.container
  %h3 Encuentra Clubes
  .div.py-3
    = form_with(url: clubs_path, method: :get, data: {turbo_frame: "clubs"}) do |form|
      %p ¿En que sector quisieras jugar?
      .mb-3
        = form.collection_check_boxes :sectors, @sectors.keys, :itself, :itself do |cb|
          .form-check
            = cb.check_box class: "form-check-input", checked: @selected_sectors.include?(cb.text)
            = cb.label class: "form-check-label"
            -# %span.badge.text-bg-primary
            -#   #{@sectors[cb.text].count} clubes
            %br
            -# %small.fw-lighter{style: "font-size: 0.75em;"}
            .mt-0.form-text= @sectors[cb.text].join(", ")
      = form.submit 'Buscar', class: "btn btn-primary"

  - @clubs.each do |club|
    .div.py-2
      .card
        %h5.card-header
          = club.name
          %small= club.third_party_id
        .card-body
          #{club.address}
          %br
          #{club.comuna}
          %br
          = number_to_phone_cl club.phone if club.phone.length > 8