.container.mt-5
  .row
    .col-md-1
      .row
        -# %iframe(allowfullscreen="" height="300" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1666.008791960096!2d-70.51604403570263!3d-33.37060516764107!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cbfa99ad8199%3A0x56663b3881a5236c!2sAv.%20las%20Condes%2012560%2C%207710162%20Lo%20Barnechea%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1671467066030!5m2!1ses!2scl" style="border:0;" width="400")
    .col-md-10
      %h3= @club.name
      .mt-2
        = render partial: "club_info", locals: {club: @club}

  - if Rails.env.development?
    .pb-3
      =render partial: "reservations/availability", locals: {club: @club, availability: @availability}
  .row.pt-2 
    - unless session[:suscribed]
      %hr
      .col-sm-6
        .p-2.text-secondary
          Pronto podrás reservar directamente 
          en PADEL64 🙂
      .col-sm-6
        .p-2
          .pb-3.text-secondary
            ¿Te avisamos cuando lancemos? 👇🏼
          - @subscription = Subscription.new
          = form_for @subscription do |form|
            .mb-3.form-floating
              = form.email_field :email, class: "form-control", placeholder: "Email"
              = form.label :email, class: "form-label fw-lighter"
            = form.hidden_field :info, value: "reservas_en_padel64"
            .mb-3
              .d-grid.gap-2
                = form.submit "Avisenme Por Favor", class: "btn btn-info"
