= form_with(url: path, method: :get, data: {turbo: false}) do |form|
  .mb-3
    = form.collection_check_boxes :selected_sectors_names, @sectors_names, :itself, :itself do |cb|
      .form-check
        = cb.check_box class: "form-check-input", checked: @selected_sectors_names.include?(cb.text)
        = cb.label class: "form-check-label"
        %span.badge.text-bg-primary
          #{Sector.new(cb.text).clubs.count} clubes
        -# .mt-0.form-text= @sectors[cb.text]
  .d-grid.gap-2.d-md-flex.justify-content-md-end
    = form.submit 'Filtrar', class: "btn btn-outline-primary"
      
