.container
  %h3 Encuentra Canchas
  .div.py-3
    = form_with(url: findcourt_path, method: :get, data: {turbo: false}) do |form|
      %p ¿En que sector quisieras jugar?
      .mb-3
        = form.collection_check_boxes :sectors, @sectors.keys, :itself, :itself do |cb|
          .form-check
            = cb.check_box class: "form-check-input", checked: @selected_sectors.include?(cb.text)
            = cb.label class: "form-check-label"
            %span.badge.text-bg-primary
              #{@sectors[cb.text].count} clubes
            .mt-0.form-text= @sectors[cb.text].join(", ")
      = form.submit 'Buscar', class: "btn btn-primary"
    
  .row
    - (@selected_date.to_time.change(hour: 7).to_i...@selected_date.to_time.change(hour: 23).to_i).step(30.minutes).each do |t|
      - time = Time.at t
      .card.mb-3
        .card-header
          #{l(time, format: "%l:%M %p")}
        .list-group.list-group-flush 
          - @availability.each do |key, value|
            .list-group-item
              = Club.find(key).name
              %small
                - if  @availability[key][time].nil?
                  No hay canchas
                - else 
                  #{@availability[key][time][:courts].count} #{"cancha".pluralize @availability[key][time][:courts].count} disponibles
                  Desde: $#{@availability[key][time][:courts].map{|c| c[:price]}.min}
              
            
        
      
