%br
%br
.container
  .row
    .col-md-12
      %h2.section-title.text-center
        Organiza tu Padel
        .small.fw-lighter.lh-base
          Encuentrar Rivales, Reservar Cancha y a Jugar
%br
.container
  .row
    .col-md-12
      .text-center
        =link_to "RESERVAR CANCHA", "#", style: "background-color: #E7EB70",class: "btn btn-fill btn-lg"
%br
%hr

.container
  %ul.nav.nav-pills.nav-fill
    -(Date.today..(Date.today + 4.days)).each do |date|
      %li.nav-item
        %a.nav-link{"aria-current" => "page", |
                    id: "#{Date.today}", |
                    class: "#{'active' if date == Date.today}", |
                    href: "#"}

          - if date.today?
            Hoy
            %br
            🔥
          - else
            = l(date, format: "%a").capitalize
            %br
            .text-center= l(date, format: "%d")
  .row{style: "padding-top: 10px"}
    .col-6
      = link_to " <== ", "#", type: :button, class: "btn btn-outline-secondary"
    .col-6.text-end
      = link_to "==>", "#", type: :button, class: "btn btn-outline-secondary"
