
.container{style: "padding: 12px 0 24px 0"}

  .row
    .col-md-5
      =image_tag "handsome_boy.jpeg", class: "img-fluid"
    .col-md-7
      %h2= @club.name
      = link_to @club.google_maps_link, target: :blank, class: "text-decoration-none link-primary" do
        %span{class: "bi bi-geo-alt-fill"}
        = @club.address
        %br
        = link_to "https://api.whatsapp.com/send?phone=#{@club.phone}&text=Hola!", |
                    class: "text-decoration-none link-primary", target: :blank do
          %i{class: "bi bi-whatsapp"}
            = @club.phone
.container
  .row
    .col-12
      .fs-4.fw-lighter.lh-base.text-center{style: "padding-bottom: 12px;"}
        %b Reservas
        -# %small Invita amigos y a jugar

-# .container
-#   .row
-#     .col-md-12
-#       .text-center
        -# =link_to "RESERVAR CANCHA", "#", style: "background-color: #E7EB70",class: "btn btn-fill btn-lg"
-# %hr
-# .container
-#   .row
-#     %h2
-#       = @club.name
-#       .fs-5.fw-lighter= @club.address
-#     %h4
-#       #{l(@date, format: "%A %e de %B").capitalize}
-# %br
= turbo_frame_tag "availability" do
  =render partial: "reservations/availability"
