=turbo_frame_tag "availability" do
  = render partial: "shared/date_selector"
  %p.fw-lighter
    -# .small.fw-lighter.texxt-center Disponibilidad actualizada a las: #{DateTime.now.strftime "%H:%M"}
  #availableSlotsAccordion.accordion.accordion-flush
    .accordion-item
      - [90].each do |duration|
        -# %h2.accordion-header
        -#   %button.accordion-button{"data-bs-target" => "#collapse#{duration}", "data-bs-toggle" => "collapse", :type => "button"}
        .div
          .div.fs-4.fw-lighter.lh-base.text-center.text-bg-primary.fw-normal
            #{duration} Minutos
        .accordion-collapse.collapse{id: "collapse#{duration}", class: "#{'show' if duration == 90}"}
          .accordion-body
            - availability = club.availability(date: @selected_date, duration: duration)
            - unless availability.nil?
              - availability.values.in_groups_of(4, nil) do |slots|
                .row.row{style: "padding-top: 8px"}
                  - slots.each do |slot|
                    .col-3
                      - if slot
                        - if current_user
                          .d-grid.gap-2
                            - reservation = Reservation.new(starts_at: slot["starts_at"], ends_at: slot["ends_at"], court_id: slot["courts"].first["id"])
                            - reservation.user = current_user
                            = form_with model: reservation, html: {data: {turbo: false}} do |form|
                              = form.hidden_field :user_id
                              = form.hidden_field :court_id
                              = form.hidden_field :starts_at
                              = form.hidden_field :ends_at
                              = form.submit "#{slot[:starts_at].in_time_zone.strftime("%H:%M")}", class: "btn btn-outline-secondary btn-block"
                        - else
                          .d-grid.gap-2
                            = link_to new_reservation_path(starts_at: "#{slot["starts_at"]}", ends_at: "#{slot["ends_at"]}", court_id: "#{slot["courts"].first["court_id"]}"), |
                                        data: { turbo: false }, type: :button, class: "btn btn-outline-secondary btn-block" do
                              =slot["starts_at"].in_time_zone.strftime("%H:%M")
