=turbo_frame_tag "availability" do
  .container
    %ul.nav.nav-pills.nav-fill
      - to_date = @from_date + 4.days
      -(@from_date..to_date).each do |date|
        %li.nav-item
          %a.nav-link.rounded-0{class: "#{'active' if date == @date}", |
                      href: availability_reservations_path(date: date, from_date: @from_date)}

            - if date.today?
              Hoy
              %br
              🔥
            - else
              = l(date, format: "%a").capitalize
              %br
              .text-center= l(date, format: "%d")
    .row{style: "padding-top: 10px"}
      .col-3.text-center
        - if @from_date != Date.today
          = link_to availability_reservations_path(from_date: @from_date - 5.day, date: @from_date - 5.days), type: :button, class: "" do
            %i.fs-2{class: "bi bi-arrow-left"}
      .col-6.text-center
        -if @from_date != Date.today
          %span.align-middle
            = link_to availability_reservations_path(from_date: Date.today, date: Date.today), type: :button, class: "btn btn-light" do
              Hoy
      .col-3.text-center
        = link_to availability_reservations_path(from_date: to_date + 1.day, date: to_date + 1.day), type: :button, class: "" do
          %i.fs-2.fw-bold{class: "bi bi-arrow-right"}

  %h5.text-center
    .fw-light #{l(@date, format: "%A %d de ").capitalize} <b> #{l(@date, format: "%B").capitalize} </b>

  %p.fw-lighter
    -# .small.fw-lighter.texxt-center Disponibilidad actualizada a las: #{DateTime.now.strftime "%H:%M"}
  #availableSlotsAccordion.accordion.accordion-flush
    .accordion-item
      - [90, 60].each do |duration|
        %h2.accordion-header
          %button.accordion-button{"data-bs-target" => "#collapse#{duration}", "data-bs-toggle" => "collapse", :type => "button"}
            .fs-5.fw-bolder
              #{duration} Minutos
        .accordion-collapse.collapse{id: "collapse#{duration}", class: "#{'show' if duration == 90}"}
          .accordion-body
            - @club.get_availabel_slots(date: @date, durations: [duration])[duration].in_groups_of(4, nil) do |slots|
              .row.row{style: "padding-top: 8px"}
                - slots.each do |slot|
                  .col-3
                    - if slot
                      -# #TODO: Multi court club
                      - reservation = Reservation.new(user: current_user, court: Court.first, starts_at: slot, ends_at: slot + duration.minutes)
                      = form_with model: reservation, html: {data: {turbo: false}} do |form|
                        = form.hidden_field :user_id
                        = form.hidden_field :court_id
                        = form.hidden_field :starts_at
                        = form.hidden_field :ends_at
                        = form.submit "#{slot.in_time_zone.strftime("%H:%M")}", class: "btn btn-primary btn-block"
