.container{style: "max-width: 300px;"}
  .card
    .card-header
      %fs-5.card-title
        ¡Aquí vamos!
    .card-body

      .text-center{style: "padding: 12px 0 18px 0px;"}
        = button_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-social btn-google", |
          method: :post, data: {turbo: false} do
          %i.bi.bi-google.fs-6.align-middle
          Ingresa con Google
      .row.align-items-center
        .col-5
          %hr
        .col-2.text-center
          %small.fw-lighter.fs-6
            o
        .col-5
          %hr
      =form_for(resource, as: resource_name, |
            url: session_path(resource_name), |
            data: {turbo: false}) do |form|
        .mb-3
          = form.label :email, class: "form-label"
          = form.email_field :email, class: "form-control"
        .mb-3
          = form.label :password, class: "form-label"
          = form.password_field :password, class: "form-control", autocompete: true
        .mb-3
          = form.hidden_field :remember_me, value: true
        .mb-3
          = form.submit t(".sign_in"), class: "btn btn-block btn-outline-secondary"
      = render "devise/shared/links"
