.mt-5
.container{style: "max-width: 360px;"}
  .card
    .card-header.text-center.fw-bold
      PADEL64
    .card-body
      -# .mt-3
      -#   = render partial: "devise/shared/social_login"
      -# .row.align-items-center.my-3
      -#   .col-5.border-top
      -#   .col-2.text-center
      -#     %small.fw-lighter.fs-6.text-secondary
      -#       o
      -#   .col-5.col-5.border-top
      =form_for(resource, as: resource_name, |
            url: session_path(resource_name), |
            data: {turbo: false}) do |form|
        .mb-3.form-floating
          = form.email_field :email, class: "form-control", placeholder: ""
          = form.label :email, class: "form-label fw-lighter"
        .mb-3.form-floating
          = form.password_field :password, class: "form-control", autocompete: true, placeholder: ""
          = form.label :password, class: "form-label fw-lighter"
        .mb-3
          = form.hidden_field :remember_me, value: true
        .mb-3
          .d-grid.gap-2
            = form.submit t(".sign_in"), class: "btn btn-outline-secondary"
    .card-footer
      = render "devise/shared/links"
