.container{style: "max-width: 300px;"}
  %h4.text-center
    Continua con

  - resource_class.omniauth_providers.each do |provider|
    %p= link_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)), |
              omniauth_authorize_path(resource_name, provider), method: :post, |
              data: {turbo: false}

  =form_for(resource, as: resource_name, |
        url: session_path(resource_name), |
        data: {turbo: false}) do |form|
    .mb-3
      = form.label :email, class: "form-label"
      = form.email_field :email, class: "form-control"
    .mb-3
      = form.label :password, class: "form-label"
      = form.password_field :password, class: "form-control", autocompete: true
    .mb-3
      = form.hidden_field :remember_me, value: true
    .mb-3
      = form.submit t(".sign_in"), class: "btn btn-block btn-secondary"
  = render "devise/shared/links"
