.container{style: "max-width: 360px;"}
  .card
    .card-header
      %h4.card-title
        ¡Aquí vamos!
    .card-body
      -# .text-center{style: "padding: 12px 0 18px 0px;"}
      = render partial: "devise/shared/social_login"
      =form_for(resource, as: resource_name, |
            url: session_path(resource_name), |
            data: {turbo: false}) do |form|
        .mb-3
          = form.label :email, class: "form-label"
          = form.email_field :email, class: "form-control"
        .mb-3
          = form.label :password, class: "form-label"
          = form.password_field :password, class: "form-control", autocompete: true
        .mb-3
          = form.hidden_field :remember_me, value: true
        .mb-3
          .d-grid.gap-2
            = form.submit t(".sign_in"), class: "btn btn-outline-secondary"
    .card-footer
      = render "devise/shared/links"
