%div{"data-controller" => "spinner"}
  .container    
    .row
      %h3.text-center.pt-4 Encuentra tu Cancha 
      .pt-2
        %h4.pt-2 ¿Dónde quieres jugar?
        .pt-1
          =render partial: "shared/clubs_selector", locals: {path: availability_path}
    
    #cuando.pt-3
    =render partial: "shared/date_selector", locals: {path: availability_path}
      
    -# #################################################
    = render "layouts/spinner"
    #contentDiv{"data-spinner-target"=> "contentDiv"}
      - if @availabilities.blank?
        .alert.alert-warning
          Parece que no hay canchas publicadas para este día.
          .float-end 
            😞
      - else     
        .alert.alert-secondary
          Actualizado hace #{distance_of_time_in_words_to_now(@updated_at, {})}  
        - availabilities_start_times(@availabilities).each do |time|
          - time = Time.parse time if time.is_a? String
          .card.mb-3
            .card-header
              #{l(time, format: "%l:%M %p")} 
            .list-group.list-group-flush
              - @availabilities.each do |club, availability|
                - slot = availability.slots[time.to_s] if availability
                - if slot.present?
                  .list-group-item 
                    .row 
                      .col-8
                        = club.name
                        %small
                          #{club.comuna}
                        %br
                        %small.fw-lighter
                          #{slot["courts"].count} 
                          #{"cancha".pluralize  slot["courts"].count} 
                          #{"disponible".pluralize  slot["courts"].count}
                          
                      .col-4.text-end
                        %small.fw-lighter
                          - price = slot["courts"].map{|c| c["price"]}.min
                          - if price
                            Desde #{number_to_currency(price, unit: "")}
                          %br
                    -# .row
                    -#   .col-12
                    -#     %small.fw-lighter
                    -#       - updated_at = club.availabilities.where(date: @selected_date).maximum(:updated_at)
                    -#       Actualizado hace #{distance_of_time_in_words_to_now(updated_at, {})}
                          
  -# #################################################
  -# - first_slot = [@selected_date.to_time.change(hour: 7).to_i, Time.now.round_off(30.minutes).to_i].max
  -# - last_slot = @selected_date.to_time.change(hour: 23).to_i
  -# - time_interval = (first_slot...last_slot)
  -# - time_interval.step(30.minutes).each do |t|
    - time = Time.at t