=console if Rails.env.development?
!!!
%html
  %head
    %title Padel64.com
    %meta{name: "description", content: "Encuentra canchas y rivales para jugar más partidos, más peleados."}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    %script{:src => "https://sdk.mercadopago.com/js/v2"}
  %body.d-flex.flex-column.min-vh-100
    = render "layouts/navbar"
    .root-container.container.pt-2.px-2
      .row
        - if alert
          .alert.alert-warning{:role => "alert"}
            = alert
        - if notice
          .alert.alert-primary{:role => "alert"}
            = notice
      = yield
    - #########
    - if Rails.env.development? and false
      .root-container.container.border-top.mt-4
        .row.mt-5
          %h5.text-center Development Zone
          %ul.mt-2
            %li.nav= link_to "Mis Reservas", reservations_path
          -# %li= link_to ""
    - ##########
    .mt-auto
    = render "layouts/footer"
